<!DOCTYPE html>
<html lang="en">
    <head>
        <title>delete_account</title>
    </head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="carousel.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body>
      <nav class="navbar navbar-expand-lg navbar-light loggedout">
        <a href="/" class="nav-link"><img src="images/logo2.png" height="120" width="160"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:left;">
          <div id="cover">
            <form method="get" action="">
              <div class="tb">
                <div class="td">
                  <input type="text" placeholder="What are you looking for?" required>
                </div>
                <div class="td">
                  <button type="submit" style="margin-right:0;">
                    <i class="material-icons" style="font-size:80px;"=>search</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="nav-options" style=float:right;">
            <div class="user-link" style="position:relative; float:left;">
              <a href="/u/{{logname}}/" class="nav-link">
                <i class="material-icons" style="font-size:50px; color:#ff7850; align-items: center;">person</i>
                <p style="font-size: 12px; align-items: center;">{{logname}}</p>
              </a>
          </div>
          <div class="user-link" style="position:relative; float:right;">
            <a href="/" class="nav-link">
              <i class="material-icons" style="font-size:50px; color:#ff7850; align-items: center;">sensor_door</i>
              <p style="font-size: 12px; align-items: center;">Sign out</p>
            </a>
          </div>
        </div>
      </nav>
        <hr>
        <div>
            <h2>&nbsp&nbsp&nbsp&nbsp {{logname}}</h2>
            <br>                                                 
            <form action="/accounts/delete/" method="post" enctype="multipart/form-data">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="submit" name="delete" value="confirm delete account"/>
            </form>
            <br>                              
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/accounts/edit/">Back to edit account</a>
        </div>
    </body>
</html>
