<html>
<title>Fakebook Marketplace</title>
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/carousel.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
  <nav class="navbar navbar-expand-lg navbar-light loggedout">
        <a href="/" class="nav-link"><img src="../static/uploads/logo2.png" height="120" width="160"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:left;">
          <div id="cover">
            <form method="get" action="/search/?search=search">
              <div class="tb">
                <div class="td">
                  <input type="text" placeholder="What are you looking for?" required name="search">
                </div>
                <div class="td">
                  <button type="submit" style="margin-right:-55px;">
                    <i class="material-icons" style="font-size:80px;">search</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="nav-options" style="float:right;">
            <div class="user-link" style="position:relative; float:left;">
              <a href="/u/{{username}}/" class="nav-link">
                <i class="material-icons" style="font-size:50px; color:#ff7850; align-items: center;">person</i>
                <p style="font-size: 12px; align-items: center;">{{username}}</p>
              </a>
          </div>
          <div class="user-link" style="position:relative; float:right;">
            <a href="/accounts/logout/" class="nav-link">
              <i class="material-icons" style="font-size:50px; color:#ff7850; align-items: center;">sensor_door</i>
              <p style="font-size: 12px; align-items: center;">Sign out</p>
            </a>
          </div>
        </div>
      </nav>
    <!-- Search by category section -->
    <div class="search-by-category">
      <p align="center" style="color: #ff7850; padding-top: 40px;">Fakebook Marketplace, don't buy it if you don't need to</p>
      <h1 align="center">Search by category</h1>
      <div class="search-by-category-buttons">
        <button onclick="location.href = '/categories/tools/';" class="btn"><i class="material-icons">build</i></button>
        <button onclick="location.href = '/categories/tech/';" class="btn"><i class="material-icons">computer</i></button>
        <button onclick="location.href = '/categories/sports/';" class="btn"><i class="material-icons">sports_basketball</i></button>
        <button onclick="location.href = '/categories/music/';" class="btn"><i class="material-icons">music_note</i></button>
        <button onclick="location.href = '/categories/cars/';" class="btn"><i class="material-icons">directions_car</i></button>
      </div>
    </div>

    <!-- Near you section -->
    <h1 align="center">Things in your area</h1>
    <section>
      <div class="rt-container">
        <div class="col-rt-12">
          <div class='demo-container'>
            <div class='carousel'>
              <input checked='checked' class='carousel__activator' id='carousel-slide-activator-1' name='carousel' type='radio'>
              <input class='carousel__activator' id='carousel-slide-activator-2' name='carousel' type='radio'>
              <input class='carousel__activator' id='carousel-slide-activator-3' name='carousel' type='radio'>
              <div class='carousel__controls'>
                <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-2'>
                  <i class="material-icons">navigate_next</i>
                </label>
              </div>
              <div class='carousel__controls'>
                <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-1'>
                  <i class="material-icons">navigate_before</i>
                </label>
              </div>
              <div class='carousel__screen'>
                <div class='carousel__track'>
                  {% for item in items %}
                  <div class="carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4">
                    <a href="/item/{{item.itemid}}">
                      <div class="card mb-2 shadow">
                        <img class="card-img-top" src="../static/uploads/{{item.image}}" alt="Product Photo">
                        <div class="card-body">
                          <h4 class="card-title">{{item.name}}</h4>
                          <h6 class="card-subtitle mb-2 text-muted">User rating: {{item.rating}}</h6>
                          <div class="buy d-flex justify-content-between align-items-center">
                            <div class="price text-success"><h5 class="mt-4">${{item.price}}/day</h5></div>
                            <a href="/u/{{item.owner}}" class="btn btn-light mt-3">Contact renter</a>
                          </div>
                        </div>
                    </div>
                    </a>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>
</html>
