<!DOCTYPE html>
<html lang="en">
    <head>
        <title>login_page</title>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light loggedout">
        <a href="/" class="nav-link"><img src="../../static/uploads/logo2.png" height="120" width="160"></a>
      </nav>
        <hr>
        <div>
            <form action="/accounts/login/" method="post" enctype="multipart/form-data">
                &nbsp&nbsp&nbsp&nbsp Username <input type="text" name="username"/>
                <br>
                <br>                                               
                &nbsp&nbsp&nbsp&nbsp Password &nbsp<input type="password" name="password"/>
                <br>
                <br>                                               
                &nbsp&nbsp&nbsp&nbsp <input type="submit" value="login"/>
            </form>
            <br>
            &nbsp&nbsp&nbsp&nbsp <a>Don't have an account?</a><a href="/accounts/create/"><b>Sign up</b></a>
        </div>
    </body>
</html>
