<!--DOCTYPE html>
<html lang="en">
    <head>
        <title>login_page</title>

    </head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body>
      <nav class="navbar navbar-expand-lg navbar-light loggedout">
        <a href="/" class="nav-link"><img src="../static/uploads/logo2.png" height="120" width="160"></a>
      </nav>
        <hr>
        <div>
            <form action="/accounts/login/" method="post" enctype="multipart/form-data">
                &nbsp&nbsp&nbsp&nbsp Username <input type="text" name="username"/>
                <br>
                <br>
                &nbsp&nbsp&nbsp&nbsp Password &nbsp<input type="password" name="password"/>
                <br>
                <br>
                &nbsp&nbsp&nbsp&nbsp <input type="submit" value="login"/>
            </form>
            <br>
            &nbsp&nbsp&nbsp&nbsp <a>Don't have an account?</a><a href="/accounts/create/"><b>Sign up</b></a>
        </div>
    </body>
</html>-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>login_page</title>
    </head>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/carousel.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body>
      <nav class="navbar navbar-expand-lg navbar-light loggedout">
        <a href="/" class="nav-link"><img src="../../static/uploads/logo2.png" height="120" width="160"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:left;">
          <div id="cover">
            <form method="get" action="">
              <div class="tb">
                <div class="td">
                  <input type="text" placeholder="What are you looking for?" required>
                </div>
                <div class="td">
                  <button type="submit" style="margin-right:0;">
                    <i class="material-icons" style="font-size:80px;"=>search</i>
                  </button>
                </div>
              </div>
            </form>
          </div>

      </nav>
        <hr>
        <div style="margin-left:50px">
            <form action="/accounts/login/" method="post" enctype="multipart/form-data">
              <div style="width:500px" class="input-group input-group-sm mb-3" >
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div style="width:500px" class="input-group input-group-sm mb-3" >
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
               <input type="submit" name="signup" value="log in"/>
            </form>
            <a>Don't have an account?</a><a href="/accounts/create/"><b>Sign up</b></a>
          </div>

        <!--
        <div>
            <form action="/accounts/login/" method="post" enctype="multipart/form-data">
                    &nbsp&nbsp&nbsp&nbsp Username <input type="text" name="username"/>
                    <br>
                    <br>
                    &nbsp&nbsp&nbsp&nbsp Password <input type="password" name="password"/>
                    <br>
                    <br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="submit" name="signup" value="log in"/>
            </form>
            <a>Don't have an account?</a><a href="/accounts/create/"><b>Sign up</b></a>

        </div>-->
    </body>
</html>
