<!DOCTYPE html>
<html lang="en">
    <head>
        <title>change_password</title>
    </head>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/carousel.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body>
      <nav class="navbar navbar-expand-lg navbar-light loggedout">
        <a href="/" class="nav-link"><img src="../../static/uploads/logo2.png" height="120" width="160"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:left;">
          <div class="nav-options" style="float:right;">
            <div class="user-link" style="position:relative; float:left;">
              <a href="/u/{{logname}}/" class="nav-link">
                <i class="material-icons" style="font-size:50px; color:#ff7850; align-items: center;">person</i>
                <p style="font-size: 12px; align-items: center;">{{logname}}</p>
              </a>
          </div>
          <div class="user-link" style="position:relative; float:right;">
            <a href="/" class="nav-link">
              <i class="material-icons" style="font-size:50px; color:#ff7850; align-items: center;">sensor_door</i>
              <p style="font-size: 12px; align-items: center;">Sign out</p>
            </a>
          </div>
        </div>
      </nav>
        <hr>
        <div style="margin-left:50px">
            <br>
            <form action="/accounts/password/" method="post" enctype="multipart/form-data">
              <div style="width:500px" class="input-group input-group-sm mb-3" >
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Old Password</span>
                  </div>
                  <input name="password" type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
                <div style="width:500px" class="input-group input-group-sm mb-3" >
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">New Password</span>
                    </div>
                    <input name="new_password1" type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div style="width:500px" class="input-group input-group-sm mb-3" >
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Confirm New Password</span>
                    </div>
                    <input name="new_password2" type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <button type="submit" name="update_password" value="submit" class="btn btn-secondary"> Submit </button>
            </form>
            <a href="/accounts/edit/">Back to edit account</a>
        </div>
    </body>
</html>
