<html>
<title>'{{search}}' results</title>
<link rel="stylesheet" href="../../static/css/style.css">
<link rel="stylesheet" href="../../static/css/carousel.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
  <nav class="navbar navbar-expand-lg navbar-light loggedout">
        <a href="/" class="nav-link"><img src="../../static/uploads/logo2.png" height="120" width="160"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:left;">
          <div id="cover">
            <form method="get" action="/search/?search=search">
              <div class="tb">
                <div class="td">
                  <input type="text" placeholder="What are you looking for?" required name="search">
                </div>
                <div class="td">
                  <button type="submit" style="margin-right:-55px;">
                    <i class="material-icons" style="font-size:80px;">search</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="nav-options" style="float:right;">
            <div class="user-link" style="position:relative; float:left;">
              <a href="/u/{{username}}/" class="nav-link">
                <i class="material-icons" style="font-size:50px; color:#ff7850; align-items: center;">person</i>
                <p style="font-size: 12px; align-items: center;">{{username}}</p>
              </a>
          </div>
          <div class="user-link" style="position:relative; float:right;">
            <a href="/accounts/logout/" class="nav-link">
              <i class="material-icons" style="font-size:50px; color:#ff7850; align-items: center;">sensor_door</i>
              <p style="font-size: 12px; align-items: center;">Sign out</p>
            </a>
          </div>
        </div>
      </nav>
      <div class="search-by-category">
        <h1 align="center">Results for '{{search}}'</h1>
      </div>
      <div id="categories-results" style="text-align: center;">
        <div class="row">
          <div class="col-12">
            <div class="card-deck">
              {% for item in items %}
                {% if (loop.index - 1) % 4 == 0 %}
                {% if (loop.index - 1) > 0 %}
                  </div>
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-12">
                  <div class="card-deck">
                {% endif %}
                {% endif %}
                <div class="card mb-2 shadow">
                  <img class="card-img-top" src="../../static/uploads/{{item.image}}">
                  <div class="card-body">
                    <a href="/item/{{item.itemid}}">
                      <h4 class="card-title">{{item.name}}</h4>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">User rating: {{item.rating}}</h6>
                    <div class="buy d-flex justify-content-between align-items-center">
                      <div class="price text-success"><h5 class="mt-4">${{item.price}}/day</h5>
                        <a href="/u/{{item.owner}}" class="btn btn-light mt-3">Contact renter</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
