<!DOCTYPE html>
<html lang="en">

    <head>
        <title>user_profile</title>
    </head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/temp.css">
    <link rel="stylesheet" href="css/carousel.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body>
      <nav class="navbar navbar-expand-lg navbar-light loggedout">
        <a href="/" class="nav-link"><img src="/static/uploads/logo2.png" height="120" width="160"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:left;">
          <div id="cover">
            <form method="get" action="">
              <div class="tb">
                <div class="td">
                  <input type="text" placeholder="What are you looking for?" required>
                </div>
                <div class="td">
                  <button type="submit" style="margin-right:0;">
                    <i class="material-icons" style="font-size:80px;">search</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="nav-options" style=float:right;">
            <div class="user-link" style="position:relative; float:left;">
              <a href="/u/{{logname}}/" class="nav-link">
                <i class="material-icons" style="font-size:50px; color:#ff7850; align-items: center;">person</i>
                <p style="font-size: 12px; align-items: center;">{{logname}}</p>
              </a>
          </div>
          <div class="user-link" style="position:relative; float:right;">
            <a href="/accounts/logout/" class="nav-link">
              <i class="material-icons" style="font-size:50px; color:#ff7850; align-items: center;">sensor_door</i>
              <p style="font-size: 12px; align-items: center;">Sign out</p>
            </a>
          </div>
        </div>
      </nav>
        
          <div id="reactEntry">
            Loading ...
          </div>
          <!-- Load JavaScript -->
          <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
            
    </body>
</html>
